In [34]:
import pandas as pd
import numpy as np
import random

In [52]:
df = pd.read_csv('../Dataset/original_json_data.csv')
syn = pd.read_csv('../Dataset/synthetic_data_binary.csv')
syn.drop(columns=['index'], inplace=True)

In [18]:
np.unique_counts(df['label']), np.unique_counts(syn['label'])

(UniqueCountsResult(values=array(['negative', 'unknown'], dtype=object), counts=array([  13, 2411])),
 UniqueCountsResult(values=array([False,  True]), counts=array([270, 400])))

In [60]:
subset_one = df[df['label']=='negative']
excluded_indices = subset_one.index
all_indices = list(range(0, 2400))
available_indices = [i for i in all_indices if i not in excluded_indices]
sampled_indices = random.sample(available_indices, 200)
subset = pd.concat([syn, subset_one, df.loc[sampled_indices, :]])
subset.reset_index(drop=True, inplace=True)
subset['label'] = subset['label'].astype(str)

In [61]:
subset

,patient,criteria,label
0,A 45-year-old male was found unresponsive afte...,Inclusion Criteria: Age greater than or equal ...,True
1,A 62-year-old female suffered an out-of-hospit...,Inclusion Criteria: Age greater than or equal ...,True
2,An 18-year-old male experienced an out-of-hosp...,Inclusion Criteria: Age greater than or equal ...,True
3,A 70-year-old female suffered an out-of-hospit...,Inclusion Criteria: Age greater than or equal ...,True
4,A 50-year-old male was brought to the ED after...,Inclusion Criteria: Age greater than or equal ...,True
...,...,...,...
878,A 43-year-old Mexican Hispanic man arrived in ...,Inclusion Criteria: Patients with Diabetes Mel...,unknown
879,A 15-year-old male patient visited the clinic ...,Inclusion Criteria: Age greater than or equal ...,unknown
880,A 50-year-old woman presented to the Breast Un...,Inclusion Criteria: Patients with Diabetes Mel...,unknown
881,A 37-month-old male infant from Guangxi Provin...,Inclusion Criteria: Patients with Type 1 or 2 ...,unknown
882,We present the case of an eight-month-old Hisp...,Inclusion Criteria: Patients with Diabetes Mel...,unknown

In [64]:
def convert_labels(label):
    if label == 'True':
        ans = 1.0
    elif label == 'unknown':
        ans = 0.5
    else:
        ans = 0.0
    return ans

subset['label'] = subset['label'].apply(lambda x: convert_labels(x))

In [67]:
subset.to_csv('../Dataset/consolidated_data.csv', index=False, header=True)